.mine-back {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
}

.mine-bottom {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}